{{extend 'layout.html'}}

<table id="clusterstatus">
    <thead>
        <tr>
            <th scope="col" id="jobscol"><H3>Jobs</H3></th>
        </tr>
    <tbody>
    <tr>
        <td><div id="jobs"></div></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript">
    ajax('{{=URL('jobs_data_jobs')}}',[''],'jobs');

    jQuery(document).ready(function refresh() {

        window.setTimeout(function() {
            ajax('{{=URL('jobs_data_jobs')}}',[''],'jobs', refresh());
        }, 3000);
    });

</script>