{{extend 'layout.html'}}



<H4 class="row">Cluster Status</H4>

<table id="clusterstatus">
    <thead>
        <tr>
            <th scope="col" id="serverscol"><H3>Servers</H3></th>
            <th scope="col" id="jobscol"><H3>Jobs</H3></th>
        </tr>
    <tbody>
    <tr>
        <td><div id="servers"></div></td>
        <td><div id="jobs"></div></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript">
    ajax('{{=URL('status_data_servers')}}',[''],'servers');
    ajax('{{=URL('status_data_jobs')}}',[''],'jobs');

    jQuery(document).ready(function refresh() {

        window.setTimeout(function() {
            ajax('{{=URL('status_data_servers')}}',[''],'servers');
            ajax('{{=URL('status_data_jobs')}}',[''],'jobs', refresh());
        }, 3000);
    });

</script>
